.Mde-Editor-container {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 57px;
}

.BlogTitle {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.BlogTitle > input[type="text"] {
  all: unset;
  font-size: 42px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.quill {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none !important;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Raleway";
  font-size: 21px;
}

.ql-editor > p > img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.ql-editor img.resizable {
  position: relative;
}

.ql-editor img.resizable::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: url("resize-icon.png") no-repeat center center;
  background-size: 20px 20px;
  cursor: se-resize;
}
