.Header {
  position: fixed;
  height: 57px;
  // background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background-color: rgb(255, 255, 255);
  padding: 0px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: whitesmoke;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.118);
}

.Header-logo {
  font-family: Myfont2;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.Header-logout-btn {
  width: 80px;
  padding: 8px;
  border: 1px solid white;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  color: black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500 !important;
}
